<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head.ejs %>
  </head>

  <body>
    <div class="container-fluid">
      <div id="header" class="row">
        <% include partials/_header.ejs %>
      </div>

      <div class="light-blue title-bar row account">
        <h3>
          <span class="view-title">
            <% if (view) { %>
            <%= view %>
            <% } else { %>
              <%= 'Dashboard' %>
            <% }%>
          </span>
        </h3>
        <br>
        <button class="small white-outline account-view-toggle" data="dashboard"><i class="fa fa-cog"></i> <span class="desktop-only"> DASHBOARD</span></button>
        <button class="small white-outline account-view-toggle" data="inbox"><i class="fa fa-inbox"></i> <span class="desktop-only"> INBOX</span></button>
        <button class="small white-outline account-view-toggle expert-only" data="expert">EXPERT PROFILE</button>
      </div>

      <div id="account-content" class="row text-center">
        <% if (view == 'expert') { %>
          <% include partials/account/_expert.ejs %>
        <% } else if (view == 'inbox') { %>
          <% include partials/account/_inbox.ejs %>
        <% } else { %>
          <% include partials/account/_dashboard.ejs %>
        <% }%>
      </div>

      <div id="footer" class="row">
        <% include partials/_footer.ejs %>
      </div>
    </div>

    <script type="text/javascript" src="js/account.js"></script>
    <script>
      var secure = '<%= secure %>';
      var view = '<%= view %>';
      var alert = '<%= alert %>';
      var defaultCard_last4 = '<%= defaultCard.last4 %>';
      var defaultCard_brand = '<%= defaultCard.brand %>';
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>
