<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head.ejs %>
  </head>

  <body>
    <div class="container-fluid">
      <div id="header" class="row">
        <% include partials/_header.ejs %>
      </div>

      <div class="title-bar row profile">
        <div class="userInfo row" id="<%= userId %>">
          <div class="col-md-4">
            <div class="userPhoto" style="background-image: url('<%= user.photo %>');">
            </div>
          </div>
          <div class="col-md-8" data-fee="<%= user.fee %>">
            <i class="fa fa-heart faveIcon"></i>
            <h5 class="userName"><%= user.firstname %> <%= user.lastname %></h5>
            <h5 class="userFee">$<%= user.fee.toFixed(2) %></h5>
            <div class="rating-container">
              <% include partials/_rating.ejs %>
            </div>
            <div class="userSkills">
              <% user.skills.forEach(function(skill){ %>
                <span><%= skill %></span>
              <% }); %>
            </div>
            <p class="userBio">
              <%= user.bio %>
            </p>
            <button class="connectButton small blue">CONNECT NOW</button>
            <button class="bookLaterButton small dark-blue">schedule a call</button>
          </div>
        </div>
      </div>



      <div id="footer" class="row">
        <% include partials/_footer.ejs %>
      </div>
    </div>

    <script type="text/javascript" src="js/profile.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68991189-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
